
@{
    ViewData["Title"] = "Kontakt";
    Layout = "_Layout";
}

<head>
    <style>
        .btn {
            color: black;
            background: #E6A806; /* Ciemniejszy odcień żółtego */
        }

            .btn:hover {
                color: black;
                background: orange;
            }

        .ingredient {
            color: peru;
        }

        .privacy-section {
            margin: 20px 0;
        }

            .privacy-section h2 {
                color: #E6A806; /* Ciemniejszy odcień żółtego */
            }

            .privacy-section p {
                text-align: justify;
            }

            .privacy-section ul {
                text-align: left;
                padding-left: 20px;
            }
    </style>
</head>

<section class="cookbook">
    <div class="container">
        <div class="row privacy-section">
            <div class="col-12">
                <h2>Kontakt</h2>
                <p>Jeśli masz jakiekolwiek pytania lub wątpliwości dotyczące naszej polityki prywatności, skontaktuj się z nami:</p>
                <p>Email: support@cookbooksite.com</p>
                <p>Telefon: +123-456-7890</p>
                <p>Adres: 123 Cookbook St, Recipe City, Foodland</p>
            </div>
        </div>
    </div>
</section>

