@{ 
    Layout = "_LayoutHome";
    ViewData["Title"] = "Privacy Policy";
}

<section class="cookbook">
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">@ViewData["Title"]</h1>
            <p class="text-center">Use this page to detail your site's privacy policy.</p>
        </div>
    </div>
</div>
</section>
