@{
    ViewData["Title"] = "Access Denied";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger mt-5" role="alert">
                <h4 class="alert-heading">Dostęp limitowany</h4>
                <p>Przepraszamy, nie masz dostępu do tej strony.</p>
                <hr>
                <p class="mb-0">Jeśli uważasz, że to jest blad skontaktuj się z administratorem.</p>
            </div>
        </div>
    </div>
</div>
