@charset "UTF-8";
body {
	background-image: url("../img/background_cookBock.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	margin-top: 30px;
	font-size: 17px;
}
h1, h2, h3, h4,h5{
	color:dimgrey
}
.logo img{
	width: 100%;
	height:auto;
}
.navbar
{
	min-height: 75px;
}
.cookbook {
	text-align: center;
}

	.cookbook img {
		width: 100%;
		height: auto;
	}

	.cookbook p {
		margin-bottom: 30px;
	}

	.cookbook figcaption {
		margin-top: 10px;
	}
.wpis {
	text-align: justify;
	font-size: 16px;
	padding: 30px;
}