@model CookBook.BuisnesLogic.DTO.IngredientEditDTO

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Id" class="control-label">ID:</label>
                    <input asp-for="Id" class="form-control" readonly />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Name:</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label">Description:</label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Type" class="control-label">Type:</label>
                    <input asp-for="Type" class="form-control" />
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Calories" class="control-label">Calories:</label>
                    <input asp-for="Calories" class="form-control" />
                    <span asp-validation-for="Calories" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Proteins" class="control-label">Proteins:</label>
                    <input asp-for="Proteins" class="form-control" />
                    <span asp-validation-for="Proteins" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Fats" class="control-label">Fats:</label>
                    <input asp-for="Fats" class="form-control" />
                    <span asp-validation-for="Fats" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Carbohydrates" class="control-label">Carbohydrates:</label>
                    <input asp-for="Carbohydrates" class="form-control" />
                    <span asp-validation-for="Carbohydrates" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImagePath" class="control-label">Image Path:</label>
                    <input asp-for="ImagePath" class="form-control" />
                    <span asp-validation-for="ImagePath" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AddDate" class="control-label">Add Date:</label>
                    <input asp-for="AddDate" class="form-control" />
                    <span asp-validation-for="AddDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="GI" class="control-label">GI:</label>
                    <input asp-for="GI" class="form-control" />
                    <span asp-validation-for="GI" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserCookBookId" class="control-label">User Cookbook ID:</label>
                    <input asp-for="UserCookBookId" class="form-control" />
                    <span asp-validation-for="UserCookBookId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="text-center">
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>